<!DOCTYPE html>
<!-- 网页使用的语言 -->
<html lang="zh-CN">
	<head>
		<!-- 指定字符集 -->
		<meta charset="utf-8">
		<!-- 使用Edge最新的浏览器的渲染方式 -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- viewport视口：网页可以根据设置的宽度自动进行适配，在浏览器的内部虚拟一个容器，容器的宽度与设备的宽度相同。
    width: 默认宽度与设备的宽度相同
    initial-scale: 初始的缩放比，为1:1 -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		<title>用户信息管理系统</title>

		<!-- 1. 导入CSS的全局样式 -->
		<link href="/Test/public/css/bootstrap.css" rel="stylesheet">
		<!-- 2. jQuery导入，建议使用1.9以上的版本 -->
		<script src="/Test/public/js/jquery-2.1.0.min.js"></script>
		<!-- 3. 导入bootstrap的js文件 -->
		<script src="/Test/public/js/bootstrap.js"></script>
		<style type="text/css">
			td,
			th {
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<h3 style="text-align: center">图书信息列表</h3>
			<br />
			<br />
			<div>
				<form class="form-inline" id="query_form" action="/movie/public/index/Employee/query" method="post">
					<div class="form-group">
						<label>书名:</label>
						<input type="text" class="form-control" name="Name" value="">
					</div>
					<div class="form-group">
						<label>类别:</label>
						<select class="form-control" name="TypeID" value="">
							<option value=''>全部</option>
							<option value='1'>数学</option>
							<option value='2'>哲学</option>
							<option value='3'>经济</option>
							<option value='4'>计算机</option>
						</select>
					</div>					
					
					<button type="submit" style="font-size: 15px;color: #2299DD;" class="btn btn-default btn-send">点击查询</button>
				</form>
			</div>
			<br />
			<br />
			<table border="1" class="table table-bordered table-hover">
				<tr>
					<td colspan="7">
						<div align="center">
							<span style="color: red;">{$info|default=''}</span>
						</div>
					</td>
					<td style="text-align: center"><a class="btn btn-primary" href="/Test/public/index/Employee/add">添加图书信息</a></td>
				</tr>
				<tr class="success">
					<th class="col-md-1" style="display: none;">编号</th>
					<th class="col-md-1">ISBN</th>
					<th class="col-md-1">类别名</th>
					<th class="col-md-1">书名</th>
					<th class="col-md-1">出版社</th>
					<th class="col-md-1">年份</th>
					<th class="col-md-1">作者</th>
					<th class="col-md-1">价格</th>
					<th class="col-md-2">操作</th>
				</tr>

				{volist name='list' id='books'}
				<tr>
					<td style="display: none;">{$books.BID}</td>
					
					<td>{$books.ISBN}</td>
					<td>{$books.TypeID}</td>
					<td>{$books.Name}</td>
					<td>{$books.Press}</td>
					<td>{$books.Date}</td>
					<td>{$books.Author}</td>
					<td>{$books.Price}</td>
					<td>
						<a class="btn btn-default btn-sm" href="/Test/public/index/Employee/updateinfo?id={$books.BID}">修改</a>
						&nbsp;
						<a class="btn btn-default btn-sm" href="/Test/public/index/Employee/delete?id={$books.BID}">删除</a>
					</td>
				</tr>
				{/volist}

				<tr>
				<tr>
					<th colspan="2">共：
						< {$count}> 条记录 </th>
					<td colspan="7"> </td>
				</tr>
				</tr>
			</table>
			<div>{$list->render()}</div>
		</div>
	</body>
	<script>
		function deleteUserById(id) {
			var confirmFlag = confirm("确认删除吗？");
			if (confirmFlag) {
				location.href = "/deleteUserByIdServlet?id=" + id + "&pageNum=" + $ {
					pageNum
				} + "&pageSize=" + $ {
					pageSize
				};
			}
		}

		$("#pageSizeSelect").change(function() {
			var pageSize = this.value;
			location.href = "/pageQueryServlet?pageNum=1&pageSize=" + pageSize;
		});

		$(function() {
			$("#pageSizeSelect").val($ {
				pageSize
			});
		});
	</script>

</html>
