<!DOCTYPE html>
<!-- 网页使用的语言 -->
<html>
<head>
    
    <title>添加用户</title>

    <!-- 1. 导入CSS的全局样式 -->
    <link href="/Test/public/css/bootstrap.min.css" rel="stylesheet">
    <!-- 2. jQuery导入，建议使用1.9以上的版本 -->
    <script src="/Test/public/js/jquery-2.1.0.min.js"></script>
    <!-- 3. 导入bootstrap的js文件 -->
    <script src="/Test/public/js/bootstrap.min.js"></script>
</head>
<body>
	
<div class="container text-left" style="width: 450px;">
    <center><h3>添加用户信息</h3></center>
    <form action="/movie/public/index/person/addperson" method="post" class="form-horizontal">       
        <div class="form-group">
           <label class="col-lg-2 control-label" for="personName">用户姓名：</label>
           <div class="col-lg-8">
               <input type="text" class="form-control" id="personName" name="personName" placeholder="请输入用户姓名">
           </div>
        </div>
        <div class="form-group">
            <label for="personPassword" class="control-label col-lg-2">密码：</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" id="personPassword" name="personPassword" placeholder="请输入密码">
            </div>
        </div>
        <div class="form-group">
        		<label for="personType" class="col-lg-2 control-label">类别：</label>
        		<div class="col-lg-8">
        				<select name="personType" class="form-control" id="personType">
        						<option value="管理员">管理员</option>
        						<option value="消费者">消费者</option>
        				</select>
        		</div>
        </div> 							
        <div class="form-group" style="text-align: center">
            <input class="btn btn-primary" type="submit" value="提交" />
            <input class="btn btn-default" type="reset" value="重置" />
            <input class="btn btn-default" onclick="backToPrevious()" type="button" value="返回"/>
        </div>
    </form>
</div>
</body>
<script>
    function backToPrevious() {
        history.go(-1);
        // location.href = document.referrer;
    }
</script>
</html>