<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shopping.mapper.SaleMapper">
    <resultMap id="BaseResultMap" type="com.example.shopping.entity.Sale">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="sale" jdbcType="INTEGER" property="sale"/>
    </resultMap>
    <sql id="Base_Column_list">
        id, sale
    </sql>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from sale where id = #{id, jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.example.shopping.entity.Sale">
        insert into sale (id, sale) values (#{id, jdbcType=INTEGER}, #{sale, jdbcType=INTEGER})
    </insert>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select <include refid="Base_Column_list"/> from sale where id = #{id, jdbcType=INTEGER}
    </select>
    <select id="selectAllSale" resultType="com.example.shopping.entity.Sale">
        select * from sale
    </select>
    <select id="selectBestSale" resultType="com.example.shopping.entity.Sale">
        select * from sale order by sale desc limit 15
    </select>
    <update id="updateByPrimaryKey" parameterType="com.example.shopping.entity.Sale">
        update sale set sale = #{sale, jdbcType=INTEGER} where id = #{id, jdbcType=INTEGER}
    </update>
</mapper>