<!DOCTYPE html>
<!-- 网页使用的语言 -->
<html lang="zh-CN">
    <head>
    	
        <!-- 指定字符集 -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>修改</title>

        <link href="/Test/public/css/bootstrap.min.css" rel="stylesheet">
        <script src="/Test/public/js/jquery-2.1.0.min.js"></script>
        <script src="/Test/public/js/bootstrap.min.js"></script>
        
    </head>
    <body>
        <div class="container" style="width: 400px;">
        <h3 style="text-align: center;">修改</h3>
        <form action="/movie/public/index/Movies/update" method="post">
          <input type="text" hidden name="id" value="{$movie.movieID}">          
		  <div class="form-group">
			<label class="col-lg-2 control-label" for="movieName">电影名：</label>
			<div class="col-lg-8">
					<input type="text" class="form-control" id="movieName" name="movieName" placeholder="请输入movieName">
			</div>
		</div>
							<div class="form-group">
									<label for="movieTime" class="col-lg-2 control-label">上映时间：</label>
								<div class="col-lg-8">
										<input type="date" class="form-control" id="movieTime" name="movieTime" placeholder="请输入日期"/>
								</div>
							</div>        				
					
							<div class="form-group">
									<label for="moviePrice" class="control-label col-lg-2">价格：</label>
								<div class="col-lg-8">
										<input type="text" class="form-control" id="moviePrice"  name="moviePrice" placeholder="请输入moviePrice"/>
								</div>
							</div>
				
							<div class="form-group">
									<label for="movieNum" class="col-lg-2 control-label">票数：</label>
								<div class="col-lg-8">
										<input type="text" class="form-control" id="movieNum" name="movieNum" placeholder="请输入movieNum"/>
								</div>
							</div>
							
							<div class="form-group">
									<label for="movieRemain" class="col-lg-2 control-label">余票：</label>
								<div class="col-lg-8">
										<input type="text" class="form-control" id="movieRemain" name="movieRemain" placeholder="请输入movieRemain"/>
								</div>
							</div>
             <div class="form-group" style="text-align: center">
                <input class="btn btn-primary" type="submit" value="提交" />
                <input class="btn btn-default" type="reset" value="重置" />
                <input class="btn btn-default" type="button" onclick="backToPrevious()" value="返回"/>
             </div>
        </form>
        </div>
    </body>

    <script>
        function backToPrevious() {
            history.go(-1);            
        }
    </script>
</html>