<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shopping.mapper.ClothesMapper">
    <resultMap id="BaseResultMap" type="com.example.shopping.entity.Clothes">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="price" jdbcType="DOUBLE" property="price"/>
        <result column="brand" jdbcType="VARCHAR" property="brand"/>
        <result column="region" jdbcType="VARCHAR" property="region"/>
        <result column="warehouse" jdbcType="VARCHAR" property="warehouse"/>
        <result column="inventory" jdbcType="VARCHAR" property="inventory"/>
        <result column="category" jdbcType="VARCHAR" property="category"/>
        <result column="subcategory" jdbcType="VARCHAR" property="subcategory"/>
        <result column="production_date" jdbcType="VARCHAR" property="production_date"/>
        <result column="features" jdbcType="VARCHAR" property="features"/>
    </resultMap>
    <sql id="Base_Column_list">
        id, name, price, brand, region, warehouse, inventory, category, subcategory, production_date,
        features
    </sql>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from Clothes where id = #{id, jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.example.shopping.entity.Clothes">
        insert into Clothes (id, name, price, brand, region, warehouse, inventory, category, subcategory,
        production_date, features,image) values (#{id, jdbcType=INTEGER},
        #{name, jdbcType=VARCHAR}, #{price, jdbcType=DOUBLE}, #{brand, jdbcType=VARCHAR}, #{region, jdbcType=VARCHAR},
        #{warehouse, jdbcType=VARCHAR}, #{inventory, jdbcType=VARCHAR}, #{category, jdbcType=VARCHAR},
        #{subcategory, jdbcType=VARCHAR}, #{production_date, jdbcType=VARCHAR},
        #{features, jdbcType=VARCHAR})
    </insert>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select <include refid="Base_Column_list"/> from Clothes where id = #{id, jdbcType=INTEGER}
    </select>
    <select id="selectAllClothes" resultType="com.example.shopping.entity.Clothes">
        select * from Clothes
    </select>
    <update id="updateByPrimaryKey" parameterType="com.example.shopping.entity.Clothes">
        update Clothes set
        name = #{name, jdbcType=VARCHAR}, price = #{price, jdbcType=DOUBLE}, brand = #{brand, jdbcType=VARCHAR},
        region = #{region, jdbcType=VARCHAR}, warehouse = #{warehouse, jdbcType=VARCHAR},
        inventory = #{inventory, jdbcType=VARCHAR},category = #{category, jdbcType=VARCHAR},
        subcategory = #{subcategory, jdbcType=VARCHAR}, production_date = #{production_date, jdbcType=VARCHAR},
        features = #{features, jdbcType=VARCHAR}}
        where id = #{id, jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.shopping.entity.Clothes">
        update Clothes
        <set>
            <if test="name != null">name = #{name, jdbcType=VARCHAR},</if>
            <if test="price != null">price = #{price, jdbcType=DOUBLE},</if>
            <if test="brand != null">brand = #{brand, jdbcType=VARCHAR},</if>
            <if test="region != null">region = #{region, jdbcType=VARCHAR},</if>
            <if test="warehouse != null">warehouse = #{warehouse, jdbcType=VARCHAR},</if>
            <if test="inventory != null">inventory = #{inventory, jdbcType=VARCHAR},</if>
            <if test="category != null">category = #{category, jdbcType=VARCHAR},</if>
            <if test="subcategory != null">subcategory = #{subcategory, jdbcType=VARCHAR},</if>
            <if test="production_date != null">production_date = #{production_date, jdbcType=VARCHAR},</if>
            <if test="features != null">features = #{features, jdbcType=VARCHAR},</if>
        </set>
        where id = #{id, jdbcType=INTEGER}
    </update>

</mapper>