<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shopping.mapper.OrdersMapper">
    <resultMap id="BaseResultMap" type="com.example.shopping.entity.Orders">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="clothesId" jdbcType="INTEGER" property="clothesId"/>
        <result column="customerId" jdbcType="INTEGER" property="customerId"/>
        <result column="clothesName" jdbcType="VARCHAR" property="clothesName"/>
        <result column="customerName" jdbcType="VARCHAR" property="customerName"/>
        <result column="price" jdbcType="DOUBLE" property="price"/>
        <result column="number" jdbcType="INTEGER" property="number"/>
        <result column="sumPrice" jdbcType="DOUBLE" property="sumPrice"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="region" jdbcType="VARCHAR" property="region"/>
        <result column="purchaseTime" jdbcType="VARCHAR" property="purchaseTime"/>
    </resultMap>
    <sql id="Base_Column_list">
        id, clothesId, customerId, clothesName, customerName, price, number, sumPrice, address, region, purchaseTime
    </sql>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from `orders` where id = #{id, jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.example.shopping.entity.Orders">
        insert into `orders` (clothesId, customerId, clothesName, customerName, price, number, sumPrice, address, region, purchaseTime) values (#{clothesId, jdbcType=INTEGER}, #{customerId, jdbcType=INTEGER},
        #{clothesName, jdbcType=VARCHAR}, #{customerName, jdbcType=VARCHAR}, #{price, jdbcType=DOUBLE},
        #{number, jdbcType=INTEGER}, #{sumPrice, jdbcType=DOUBLE}, #{address, jdbcType=VARCHAR}, #{address, jdbcType=VARCHAR},#{purchaseTime, jdbcType=VARCHAR}
        )
    </insert>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select <include refid="Base_Column_list"/> from orders where id = #{id, jdbcType=INTEGER}
    </select>
    <select id="selectAllOrder" resultType="com.example.shopping.entity.Orders">
        select * from `orders`
    </select>
    <select id="selectByUserName" parameterType="java.lang.String" resultType="com.example.shopping.entity.Orders">
        select * from `orders` where customerName = #{username, jdbcType=VARCHAR}
    </select>
    <update id="updateByPrimaryKey" parameterType="com.example.shopping.entity.Orders">
        update `orders` set
        clothesId = #{clothesId, jdbcType=INTEGER}, customerId = #{customerId, jdbcType=INTEGER},
        clothesName = #{clothesName, jdbcType=VARCHAR}, customerName = #{customerName, jdbcType=VARCHAR},
        price = #{price, jdbcType=DOUBLE}, number = #{number, jdbcType=INTEGER}, sumPrice = #{sumPrice, jdbcType=DOUBLE}
        address = #{address, jdbcType=VARCHAR}, region = #{region, jdbcType=VARCHAR},
        purchaseTime = #{purchaseTime, jdbcType=VARCHAR}
        where id = #{id, jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.shopping.entity.Orders">
        update `orders`
        <set>
            <if test="clothesId != null">clothesId = #{clothesId, jdbcType=INTEGER},</if>
            <if test="customerId != null">customerId = #{customerId, jdbcType=INTEGER},</if>
            <if test="clothesName != null">clothesName = #{clothesName, jdbcType=VARCHAR},</if>
            <if test="customerName != null">customerName = #{customerName, jdbcType=VARCHAR},</if>
            <if test="price != null">price = #{price, jdbcType=DOUBLE},</if>
            <if test="number != null">number = #{number, jdbcType=INTEGER},</if>
            <if test="sumPrice != null">sumPrice = #{sumPrice, jdbcType=DOUBLE},</if>
            <if test="address != null">address = #{address, jdbcType=VARCHAR},</if>
            <if test="region != null">region = #{region, jdbcType=VARCHAR},</if>
            <if test="purchaseTime != null">purchaseTime = #{purchaseTime, jdbcType=VARCHAR},</if>
        </set>
        where id = #{id, jdbcType=INTEGER}
    </update>

</mapper>